@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 40em;
  padding: 3% 0 0;
  margin: auto;
}
.form-2 {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form-2 input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 2px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-style: solid;
  border-color: #fff;
}
.form-2 .sign {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #EA0606;
  width: 100%;
  border: 2px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  border-style: solid;
  border-color: #fff;
}
.form-2 button:hover,.form-2 button:active,.form-2 button:focus {
  background: #7f0505;
}
.form-2 .message {
  margin: 10px 0 10px;
  color: #b3b3b3;
  font-size: 12px;
}

.form-2 .reg {
  margin: 20px 0 10px;
  color: #b3b3b3;
  font-size: 12px;
}

.form-2 .reg a {
  color: #EA0606;
  text-decoration: none;
}

.form-2 .reg a:hover {
  color: #7f0505;
}

.form-2 .message a {
  color: #EA0606;
  text-decoration: none;
}

.form-2 .message a:hover {
  color: #7f0505;
}
.form-2 .register-form {
  display: none;
}

.form-2 .sign-2 {
  display: grid;
  grid-column: 1/-1;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #EA0606;
  width: 100%;
  border: 2px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  border-style: solid;
  border-color: #fff;
}
body {
  background: #fff; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #fff, #fff);
  background: -moz-linear-gradient(right, #fff, #fff);
  background: -o-linear-gradient(right, #fff, #fff);
  background: linear-gradient(to left, #fff, #fff);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
